*{margin:0 auto;}

body{
	
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background: #222;

}
.row{
	margin-right: 0px;
	margin-left:  0px;
}
.numero_pedido{
	background: #C2B9B9;
	line-height: 39px;
}


#Numero_serial{
	color: red;
}
.todo{
	max-width: 1024px;
margin: 0 auto;
padding: 0px;
}

.cajas{
width: 175px!important;
	height: 32px;

}
.cajanombre{

	height: 32px;

}
.cabezainfo{
	background: #C2B9B9;
	

	border: 1px solid #ccc;
/*border-radius: 5px;*/
background: #eee;
line-height: 60px;
box-shadow: 0px 4px 11px 1px;

}
.modal-dialog{
	margin: 0px;

}
.marg{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 35px;


}
.fuentetit{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
font-size: 26px;
background-image: url("../img/sponsors.png");
margin: 0px;
background-position-y: 12%;


}
.fuentetit1{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
font-size: 26px;
margin: 0px;
background-position-y: 12%;


}

.colapsoo{
	padding-left: 0px!important;
}

.fondo{

	background-image: url('../img/back2.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
  
}
.menulateral{
	position: fixed;
left: 0px;
top: 0px;
width: 59px;
height: 100%;
z-index: 1000;

}
.scrollfondo{
	margin-bottom: 20px;
}
h1{
	color: #fff;
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.recibo_uno{
	background: rgba(253, 253, 253, 0.5);
	box-shadow: 0px 8px 27px 6px;
		

}
.recibo_dos{
	background: rgba(253, 253, 253, 0.5);
	box-shadow: 0px 8px 27px 6px;
}
.recibo_tres{
	background: rgba(253, 253, 253, 0.5);
	box-shadow: 0px 8px 27px 6px;
	padding-bottom: 50px;
}
.recibo_cuatro{
	background: rgba(253, 253, 253, 0.5);
	box-shadow: 0px 8px 27px 6px;
	padding-bottom: 50px;
}
.recibo_cinco{
	background: rgba(253, 253, 253, 0.5);
	box-shadow: 0px 8px 27px 6px;
	padding-bottom: 50px;
}
.bot{
	padding-left: 8px;
}
.dialogomodal{
	width: 100%;
}
.marres{
	margin-left: 5.5%;

}
.menmen{
	margin-bottom: 0px;
	
}
.recibo_unoizquierda{
	padding-top: 50px;
}
.recibo_unoderecha{
	padding-top: 50px;
}
#AddMoreFileBox{
z-index: 1000!important;
background-image: url("../img/mas.png");
position: absolute;
width: 39px!important;
height: 39px!important;
border-radius: 50px!important;
left: -16px;
}
.marmar{
	margin-bottom: 20px;
}
.removeclass{
z-index: 1000!important;
background-image: url("../img/menos.png");
position: absolute;
width: 39px!important;
height: 39px!important;
border-radius: 50px!important;
left: -32px;
bottom: 18px;
}
@media screen and (max-width: 720px) {
    .cajas {
         min-width: 130px!important;
width: 155px!importanty;
    }
       .marg1{
	margin-top: none;
margin-bottom: none;
margin-left: none;
}
.cajas{
min-width: 130px!important;
width: 155px;
	height: 32px;

}

}
@media screen and (max-width: 500px) {
    .cajas {
        min-width: 130px!important;
width: 155px!importanty;
    }
       }

@media screen and (max-width: 400px) {
   .marg{
	margin-left: 0px;
}
       }       




@media screen and (max-width: 720px) {
    .desapa1 {display: none!important;
    }
    #bujes{
    	width: 100%!important;
    }
}
@media screen and (min-width: 720px) {
    .marg1{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 60px;


}
    
}




*, html{
	margin: 0px;
	padding: 0px;
}
h2{
	color: #fff;
	font-family: helvetica;
	text-align: center;
}
#home {
	
		background: url('../img/back11.jpg') 50% 0 no-repeat fixed!important;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#seccion2 {
	background: url('../img/back.jpg') 50% 0 no-repeat fixed!important;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#section3{
background: url('../img/back1.jpg') 50% 0 no-repeat fixed!important;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#section4{
		background: url('../img/back1magn.jpg') 50% 0 no-repeat fixed!important;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#section5{
		background: url('../img/back1azul.jpg') 50% 0 no-repeat fixed!important;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#fondosplash {
	background: url('../img/back.jpg') 50% 0 no-repeat fixed!important;
	min-height: 667px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#InputsWrapper {
margin-top: 50px;
}
#fondolistado {
	background: url('../img/back1.jpg') 50% 0 no-repeat fixed!important;
	min-height: 667px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}


article{
	
}
.geekhome{
	
	display: block;
	margin: 0px auto;
	background: rgba(253, 253, 253, 0.5);
	box-shadow: 0px 8px 27px 6px;
	max-width: 1024px;

}
