*, html{
	margin: 0px;
	padding: 0px;
}
h2{
	color: #fff;
	font-family: helvetica;
	text-align: center;
}
#home {
	background: url(images/bg_0.jpg) 50% 0 no-repeat fixed;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#seccion2 {
	background: url(images/bg_1.jpg) 50% 0 no-repeat fixed;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#section3{
	background: url(images/bg_2.jpg) 50% 0 no-repeat fixed;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
article{
	padding: 100px;
}
.geekhome{
	background: url(images/geek.png) no-repeat;
	display: block;
	height: 368px;
	margin: 0px auto;
	width: 517px;
}




*{margin:0 auto;}

body{
	background-image: url('../img/back.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

}
.row{
	margin-right: 0px;
	margin-left:  0px;
}
.numero_pedido{
	background: #C2B9B9;
	line-height: 39px;
}


#Numero_serial{
	color: red;
}
.todo{
	max-width: 1024px;
margin: 0 auto;
padding: 0px;
}

.cajas{
width: 150px!important;
	height: 32px;

}
.cajanombre{

	height: 32px;

}
.cabezainfo{
	background: #C2B9B9;
	

	border: 1px solid #ccc;
/*border-radius: 5px;*/
background: #eee;
line-height: 60px;
box-shadow: 0px 4px 11px 1px;

}
.modal-dialog{
	margin: 0px;

}
.marg{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 60px;


}
.fuentetit{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
font-size: 26px;


}

.fondo{

	background-image: url('../img/back2.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
  
}
.scrollfondo{
	margin-bottom: 20px;
}
h1{
	color: #fff;
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.recibo_uno{
	background: rgba(253, 253, 253, 0.5);
	box-shadow: 0px 8px 27px 6px;
	padding-bottom: 50px;
	

}
.recibo_dos{
	background: rgba(253, 253, 253, 0.5);
	box-shadow: 0px 8px 27px 6px;
}
.recibo_tres{
	background: rgba(253, 253, 253, 0.5);
	box-shadow: 0px 8px 27px 6px;
	padding-bottom: 50px;
}
.recibo_cuatro{
	background: rgba(253, 253, 253, 0.5);
	box-shadow: 0px 8px 27px 6px;
	padding-bottom: 50px;
}
.recibo_cinco{
	background: rgba(253, 253, 253, 0.5);
	box-shadow: 0px 8px 27px 6px;
	padding-bottom: 50px;
}
.bot{
	padding-left: 8px;
}
.dialogomodal{
	width: 100%;
}
.marres{
	margin-left: 5.5%;

}
.menmen{
	margin-bottom: 0px;
	
}
.recibo_unoizquierda{
	padding-top: 50px;
}
.recibo_unoderecha{
	padding-top: 50px;
}

@media screen and (max-width: 720px) {
    .cajas {
        width: 213px!important
    }
       .marg1{
	margin-top: none;
margin-bottom: none;
margin-left: none;


}
}
@media screen and (max-width: 720px) {
    .desapa1 {display: none!important;
    }
    #bujes{
    	width: 100%!important;
    }
}
@media screen and (min-width: 720px) {
    .marg1{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 60px;


}
    
}




